html, body {
    height: 100%;
    vertical-align: baseline;
    font-size: 18px;
}

body {
    overflow-y: scroll;
}

@media (min-width:768px) {
    .top-logo {
        margin: 20px;
        width: 512px;
        height: 200px;
        background: url("../images/logos/sager-logo.png") no-repeat scroll 0 0 transparent;
    }
}
@media (max-width:768px) {
    .top-logo {
        margin: 10px;
        width: 256px;
        height: 100px;
        background: url("../images/logos/sager-logo-small.png") no-repeat scroll 0 0 transparent;
    }
}

.page-container {
    margin-top: 0px;
    min-height: 100%;
    width: 100%;
    position: relative;
    box-shadow: 0 4px 15px #181818;
    padding-bottom: 50px;
}

.logo-box {
    margin-top: 15px;
    display: block;
    text-align: center;
}

.date-label {
    display: block;
    margin-top: 10px;
}

.page-footer {
    vertical-align: baseline;
    background: none repeat scroll 0 0 #111;
    color: #FFF;
    text-align: left;
    width: 100%;
    height: 150px;
    clear: both;
    position: absolute;
    z-index: -20;
}

.page-footer-content {
    margin: 0 auto;
    position: fixed;
    left: 0;
    right: 0;
    bottom: 0;
    height: 130px;
    z-index: -15;
}

.page-footer a {
    color: #FFF;
}

.footer-logo {
    margin-top: 20px;
    background: url("../images/logos/sager-signet-white.png") no-repeat scroll 0 0 transparent;
    width: 64px;
    height: 64px;
}

.footer-logo:hover {
    background: url("../images/logos/sager-signet-negativ.png") no-repeat scroll 0 0 transparent;
}

.copyright {
    margin-top: 20px;
    text-align: center;
    height: inherit;
    vertical-align: text-bottom;
}

.contact-icon {
    margin: 0 2px;
}

[class^="button-icon-"], [class*=" buton-icon-"] {
    display: inline-block;
    width: 24px;
    height: 24px;
    line-height: 24px;
    vertical-align: text-top;
    background: no-repeat 0 0;
}

.button-icon-kb {
    background-image: url("../images/icons/icon_kb.png");
}

.button-icon-li {
    background-image: url("../images/icons/icon_li.png");
}

.button-icon-tw {
    background-image: url("../images/icons/icon_tw.png");
}

.button-icon-gh {
    background-image: url("../images/icons/icon_gh.png");
}

.button-icon-em {
    background-image: url("../images/icons/icon_em.png");
}
